@charset "UTF-8";
.hero-image-post1, .hero-image-blog, .hero-image-pf, .hero-image-productos, .hero-image-index {
  background-size: cover;
  height: 600px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor__galeria, .flex__pr, footer div, footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.hero-text-boton, .hero-texttienda, .hero-text {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
}

.boton__quienes a, .text-q, .columnas__quienes, .galeria, .formulario_img, .container2, .flex__pr, .manifiesto__img1, .manifiesto__texto, .manifiesto__2, .btnfooter a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.texto__quienes, .centrado, .img_mobile2, .tituloblog-index {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.fondocard-carnet, .fondocard-energy, .fondocard-pet, .fondocard-11, .fondocard-cbn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 310px;
  transition: all 0.5s;
}

.button2 a, .button2 input, .boton_comprar2 a {
  text-align: center;
  padding: 10px 20px;
  color: #21412E;
  background-color: #d4ddd8;
  border: solid 2px #d4ddd8;
  align-items: center;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
  margin: 20px 5px;
}
.button2 a:hover, .button2 input:hover, .boton_comprar2 a:hover {
  color: #d4ddd8;
  background-color: #21412E;
  border-color: #d4ddd8;
}

#btnproducto {
  text-align: center;
  padding: 10px 20px;
  color: #d4ddd8;
  background-color: transparent;
  border: solid 2px #d4ddd8;
  align-items: flex-start;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
  margin: 20px 5px;
}
#btnproducto:hover {
  color: #21412E;
  background-color: #d4ddd8;
  border-color: #d4ddd8;
}

.boton__quienes a, .boton_comprar a {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FCB631;
  transition: all 0.5s;
  background-color: #21412E;
  border: 2px solid #FCB631;
  width: 150px;
  padding: 10px 20px;
  margin-top: 2rem;
}
.boton__quienes a:hover, .boton_comprar a:hover {
  color: #21412E;
  background-color: #FCB631;
}

header {
  background: no-repeat center cover relative;
}

.hero-image-index {
  background: url(../img/Grupo\ 17492.png);
}

.hero-image-productos {
  background: url(../img/Componente\ 34\ –\ 1.png);
}

.titulo-pf h1 {
  color: #1A3927;
  font-size: 10vw;
  font-family: luimp;
}

.hero-image-manifiesto {
  background-image: url(../img/portada\ manifiesto.png);
  height: 600px;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}
.hero-image-manifiesto:hover {
  background-image: url(../img/portada\ manifiesto\ gris.png);
}

.hero-image-blog {
  background: url(../img/portada\ blog\ nueva.jpg);
}

.navbar-light .navbar-nav .nav-link {
  font-size: 30px;
  color: #d4ddd8;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #FCB631;
}

.offcanvas {
  background-color: #21412E;
}

.navbar-toggler {
  background-color: #FCB631;
}

.navbar-toggler-icon {
  background-image: url();
}

.hero-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d4ddd8;
  justify-content: center;
}

.hero-texttienda {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d4ddd8;
  justify-content: center;
}

.hero-text-boton {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d4ddd8;
}

.button-index a {
  padding: 15px;
  margin-top: 30px;
  transition: all 0.5s;
  background-color: transparent;
  font-family: axiforma;
  cursor: pointer;
  color: #d4ddd8;
}
.button-index a:hover {
  color: #FCB631;
}

@media only screen and (min-width: 100px) and (max-width: 700px) {
  .button-index a {
    font-size: 13px;
    margin-top: 30px;
    transition: all 0.5s;
    background-color: transparent;
    font-family: axiforma;
    cursor: pointer;
    color: #d4ddd8;
  }
  .button-index a:hover {
    color: #FCB631;
  }
}
@media only screen and (max-width: 500px) {
  .titulo-pf h1 {
    font-size: 16vw;
  }
}
.hero-text {
  flex-direction: column;
  align-items: center;
}

.hero-text-boton {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d4ddd8;
}

.breadcrumb {
  justify-content: center;
}

.breadcrumb-item a {
  font-family: axiforma;
  color: #d4ddd8;
}
.breadcrumb-item a:hover {
  color: #FCB631;
}

#breadcrumbactive {
  font-family: axiforma-medium;
  color: #FCB631;
}

.row {
  --bs-gutter-x: 0px;
}

body {
  background-color: #21412E;
  font-family: axiforma;
  margin: 0px;
  cursor: default;
}
body body::-webkit-scrollbar-track {
  background-color: #21412E;
}
body h1 {
  font-family: monument;
  text-align: center;
  color: white;
  font-size: x-large;
}
body h2 {
  font-family: monument;
}
body h3 {
  font-family: monument;
  font-size: medium;
  color: white;
}
body h4 {
  color: #d4ddd8;
  font-family: axiforma;
  font-size: 20px;
}
body h5 {
  font-family: monument;
  font-size: medium;
  color: white;
  text-align: center;
}
body h6 {
  color: #d4ddd8;
  font-family: axiforma-thin;
}
body li {
  color: #d4ddd8;
  font-size: 1.25rem;
}

body h2 {
  color: #d4ddd8;
  font-family: carentro;
  font-size: 40px;
}

body a {
  text-decoration: none;
  color: #21412E;
}

body p {
  color: #d4ddd8;
}

* {
  margin: 0;
  padding: 0;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #21412E;
  /* Set a background color */
  color: #21412E;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px 15px;
  /* Some padding */
  transition: all 0.5s;
  border-radius: 100px;
  /* Rounded corners */
  border: solid 1px #FCB631;
}

#myBtn:hover {
  background-color: #FCB631;
  /* Add a dark-grey background on hover */
  border: solid 1px #FCB631;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  max-width: 1200px;
}

::selection {
  background: #d4ddd8;
  color: #21412E;
}

.hero-image-index, .hero-image-productos, .hero-image-pf, .hero-image-blog, .hero-image-post1 {
  background-size: cover;
  height: 600px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor__galeria, .flex__pr, footer div, footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.hero-text, .hero-texttienda, .hero-text-boton {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
}

.boton__quienes a, .text-q, .columnas__quienes, .galeria, .formulario_img, .container2, .flex__pr, .manifiesto__img1, .manifiesto__texto, .manifiesto__2, .btnfooter a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.texto__quienes, .centrado, .img_mobile2, .tituloblog-index {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.fondocard-carnet, .fondocard-energy, .fondocard-pet, .fondocard-11, .fondocard-cbn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 310px;
  transition: all 0.5s;
}

.button2 a, .button2 input, .boton_comprar2 a {
  text-align: center;
  padding: 10px 20px;
  color: #21412E;
  background-color: #d4ddd8;
  border: solid 2px #d4ddd8;
  align-items: center;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
  margin: 20px 5px;
}
.button2 a:hover, .button2 input:hover, .boton_comprar2 a:hover {
  color: #d4ddd8;
  background-color: #21412E;
  border-color: #d4ddd8;
}

#btnproducto {
  text-align: center;
  padding: 10px 20px;
  color: #d4ddd8;
  background-color: transparent;
  border: solid 2px #d4ddd8;
  align-items: flex-start;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
  margin: 20px 5px;
}
#btnproducto:hover {
  color: #21412E;
  background-color: #d4ddd8;
  border-color: #d4ddd8;
}

.boton__quienes a, .boton_comprar a {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FCB631;
  transition: all 0.5s;
  background-color: #21412E;
  border: 2px solid #FCB631;
  width: 150px;
  padding: 10px 20px;
  margin-top: 2rem;
}
.boton__quienes a:hover, .boton_comprar a:hover {
  color: #21412E;
  background-color: #FCB631;
}

footer {
  background-color: #21412E;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
footer div {
  justify-content: center;
}
footer h2 {
  font-size: 15px;
  list-style: none;
  font-family: monument;
  text-align: center;
}
footer ul {
  text-decoration: none;
  list-style: none;
  color: #d4ddd8;
  line-height: 20px;
}

.footernnabis {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.btnfooter a {
  align-items: center;
  justify-content: center;
  color: #FCB631;
  font-weight: bolder;
  transition: all 0.5s;
  background-color: #21412E;
  border: 2px solid #FCB631;
  width: 150px;
  padding: 1rem;
  margin: 2rem 1rem;
}
.btnfooter a:hover {
  color: #21412E;
  background-color: #FCB631;
}

.hero-image-index, .hero-image-productos, .hero-image-pf, .hero-image-blog, .hero-image-post1 {
  background-size: cover;
  height: 600px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor__galeria, .flex__pr, footer, footer div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.hero-text, .hero-texttienda, .hero-text-boton {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
}

.boton__quienes a, .text-q, .columnas__quienes, .galeria, .formulario_img, .container2, .flex__pr, .manifiesto__img1, .manifiesto__texto, .manifiesto__2, .btnfooter a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.texto__quienes, .centrado, .img_mobile2, .tituloblog-index {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.fondocard-carnet, .fondocard-energy, .fondocard-pet, .fondocard-11, .fondocard-cbn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 310px;
  transition: all 0.5s;
}

.button2 a, .button2 input, .boton_comprar2 a {
  text-align: center;
  padding: 10px 20px;
  color: #21412E;
  background-color: #d4ddd8;
  border: solid 2px #d4ddd8;
  align-items: center;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
  margin: 20px 5px;
}
.button2 a:hover, .button2 input:hover, .boton_comprar2 a:hover {
  color: #d4ddd8;
  background-color: #21412E;
  border-color: #d4ddd8;
}

#btnproducto {
  text-align: center;
  padding: 10px 20px;
  color: #d4ddd8;
  background-color: transparent;
  border: solid 2px #d4ddd8;
  align-items: flex-start;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
  margin: 20px 5px;
}
#btnproducto:hover {
  color: #21412E;
  background-color: #d4ddd8;
  border-color: #d4ddd8;
}

.boton__quienes a, .boton_comprar a {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FCB631;
  transition: all 0.5s;
  background-color: #21412E;
  border: 2px solid #FCB631;
  width: 150px;
  padding: 10px 20px;
  margin-top: 2rem;
}
.boton__quienes a:hover, .boton_comprar a:hover {
  color: #21412E;
  background-color: #FCB631;
}

@media (max-width: 770px) {
  .galeria__ {
    display: none;
  }

  .acordeonindex {
    display: none;
  }

  .manifiestotitulo2 {
    display: none;
  }

  .imagencontacto {
    display: none;
  }
}
@media (max-width: 992px) {
  .acordeonindex {
    display: none;
  }
}
@media screen and (min-width: 701px) {
  .img_mobile {
    display: none;
  }

  .contactoindex {
    display: block;
  }
}
@media (max-width: 600px) {
  .img__quienes {
    display: none;
  }

  .tituloblog-index h2 {
    font-size: 23px;
  }

  .textomanifiesto p {
    padding: 0.5rem;
  }
}
/*about*/
/*manifiesto*/
.manifiesto__2 {
  margin-top: 2rem;
  padding: 1rem;
  justify-content: center;
}

.manifiesto__texto {
  text-align: center;
  color: white;
  max-width: 400px;
}

.manifiesto__img1 {
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.manifiesto__img1 img {
  width: 800px;
}

.manifiesto__img2 img {
  margin-left: 4rem;
  width: 450px;
  height: 100px;
}

#titulo-manifiesto {
  color: #FCB631;
  font-size: 30px;
}

.fondo-manifiesto {
  background-image: url(../img/FONDO\ MANIFIESTO.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*ACORDEON INDEX*/
.btnacordeon a {
  align-items: center;
}

.btnacordeon2 a {
  align-items: center;
  float: right;
}

.acordeonindex {
  align-items: center;
  background-color: transparent;
}

.col-lg-6 {
  padding: 0px;
}

.accordion-item {
  background-color: transparent;
  border: none;
}

.accordion-button {
  background-color: transparent;
  color: #d4ddd8;
  border-bottom: 2px solid #d4ddd8;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #d4ddd8;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/arrow\ down\ white.png);
}

.accordion-button::after {
  background-image: url(../img/arrow\ up\ white.png);
}

.accordion-button:focus {
  border-color: #d4ddd8;
  box-shadow: none;
}

.accrdio-body p {
  color: #d4ddd8;
}

.imgacordeon {
  background-image: url(../img/cultivannabis\ acordeon.png);
  height: 293px;
  background-size: contain;
}
.imgacordeon:hover {
  background-image: url(../img/Grupo\ 1750\ BYN.jpg);
}

/* NOTICIAS */
.tituloblog-index {
  margin-top: 5rem;
}

.tituloblog-index h2 {
  color: #FCB631;
  font-family: monument;
  margin-top: 1rem;
}

.cardblog {
  padding: 1rem;
  border: solid 2px #d4ddd8;
  margin: 2rem 0;
}

.blogindex {
  align-items: center;
  padding: 1rem 2rem;
}
.blogindex .blogindex a:hover {
  background-image: url(../../img/blog/deportes\ 1.jpg);
}

.card2 {
  align-content: center;
}

.card-body2 a {
  color: #d4ddd8;
  transition: all 0.5s;
  margin: 0px;
}
.card-body2 a:hover {
  color: #FCB631;
}

.card-body {
  padding: 1rem;
  background-color: #1A3927;
  border-radius: 10px;
}

.card-body2 {
  padding: 10px;
  background-color: #21412E;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-text2 {
  max-width: 400px;
}

/*producto*/
#titulo-producto img {
  display: flex;
  justify-content: center;
}

.flex__pr {
  justify-content: space-evenly;
}

.card {
  align-content: center;
  border: none;
  border-radius: 10px;
  background-color: #1A3927;
  margin-top: 20px;
  box-shadow: 5px 2.5px 2.5px #212521;
}

.fondocard-cbn {
  background-image: url(../img/CBN\ +\ VALERIANA.jpg);
}
.fondocard-cbn:hover {
  background-image: url(../img/Nnabis\ 7CUADRADO\ cbn.jpg);
}

.fondocard-11 {
  background-image: url(../img/Nnabis\ 4CUADRADO.jpg);
}
.fondocard-11:hover {
  background-image: url(../img/Nnabis\ 4CUADRADO\ 1.1.jpg);
}

.fondocard-pet {
  background-image: url(../img/GOLDEN\ PET.jpg);
}
.fondocard-pet:hover {
  background-image: url(/img/nnabis\ pet.jpg);
}

.fondocard-energy {
  background-image: url(../img/ENERGY\ SPORT.jpg);
}
.fondocard-energy:hover {
  background-image: url(../img/Nnabis\ 6\ CUADRADO\ energy.jpg);
}

.fondocard-carnet {
  background-image: url(../img/Editable\ reprocan.jpg);
}
.fondocard-carnet:hover {
  background-image: url(../img/Editable\ reprocan\ atras.jpg);
}

.fondocard-blog {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  border-radius: 10px 10px 10px 10px;
}

.boton_comprar2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
}

.espacio {
  height: 20px;
}

.subtitulotienda h3 {
  font-family: monument;
  color: white;
}

.subtitulotienda {
  border-bottom: 2px solid black;
  margin-top: 50px;
}

.row > * {
  padding: 0px;
}

/*galeria de imagenes*/
.galeria__ {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.blog__ {
  margin-top: 3rem;
  padding: 1rem;
}

.galeria__imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.galeria__img1 img {
  width: 400px;
  height: 600px;
  display: flex;
  margin: 3rem;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.galeria__img2 {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.galeria__img2 img {
  border: black 2px solid;
  width: 100%;
  height: 200px;
}

.slidersize {
  width: 100%;
  height: 500px;
}

.carousel-indicators {
  margin-left: 0px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #21412E;
}

.img_mobile2 {
  align-content: center;
}

.img_mobile img {
  max-width: 100%;
  margin-top: 4px;
}

/*contacto*/
.container2 {
  justify-content: center;
  height: auto;
  width: auto;
}

.formulario {
  border-radius: 5px;
  background-color: transparent;
  padding: 2px;
  margin: 2rem 5rem 1rem 5rem;
  color: white;
}

.formulario_img {
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

input[type=text], select, textarea {
  color: #d4ddd8;
  padding: 12px;
  border: 1px solid #d4ddd8;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/*input[type=submit] {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  background-color: $nnabis1;
  padding: 15px;
  color: $nnabis2;
  font-weight: bolder;
  transition: all 0.5s;
  border-style: solid;
  border-color: $nnabis2;
  border-width: 3px;
  &:hover {
    background-color: $nnabis2;
    color: $nnabis1;
  }
}*/
input[type=reset] {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  background-color: #21412E;
  padding: 15px;
  color: #FCB631;
  font-weight: bolder;
  transition: all 0.5s;
  border-style: solid;
  border-color: #FCB631;
  border-width: 3px;
}
input[type=reset]:hover {
  background-color: #FCB631;
  color: #21412E;
}

/*Index*/
.section-producto-index {
  background-position: 4rem;
  background-color: #FCB631;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  padding: 10px;
}

.section-producto {
  background-position: 4rem;
  background-color: #21412E;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  padding: 10px;
  background-image: url(../img/elemento\ aire.png);
  background-position-x: -30%;
}

.section-producto-permiso {
  background-image: url(../img/elemento\ agua.png);
  background-color: #FCB631;
}

#titulo-producto {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #FCB631;
  font-family: monument;
  font-size: 30px;
  margin-bottom: 2rem;
  text-align: center;
}

.centrado {
  margin: auto;
}

.button2 {
  display: flex;
  justify-content: center;
}

.galeria {
  text-align: center;
  justify-content: center;
}

.fondo__galeria {
  height: 250px;
}

.contenedor__galeria {
  background-image: url(../img/portada\ galeria.jpg);
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
}

.columnas__quienes {
  justify-content: center;
  align-items: center;
}

.texto__quienes {
  background-color: #21412E;
}

.text-q {
  justify-content: flex-start;
  width: auto;
  color: #d4ddd8;
  font-family: axiforma;
  margin: 10px 0pxs 10px 0px;
}

.text-q H3 {
  color: #FCB631;
  font-family: monument;
  font-size: x-large;
}

.img__quienes img {
  width: 90%;
  height: 500px;
  margin-left: 30px;
}

.quienesindex {
  height: 200px;
}

.manifiestoindex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url(../img/FONDO\ MANIFIESTO.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-bottom: 10rem;
}

.manifiestotitulo h3 {
  color: #FCB631;
  font-family: monument;
}

.manifiestotitulo2 h2 {
  display: flex;
  justify-content: center;
  color: #1A3927;
  font-family: luimp;
  font-size: 150px;
}

.textomanifiesto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #21412E;
  font-size: large;
  font-weight: bold;
}

.textomanifiesto p {
  justify-content: center;
}

.texto_man_index {
  justify-content: center;
  text-align: center;
}

/* CONTACTO */
.contactoindex {
  background-image: url(../img/Grupo\ 1750.png);
  background-position: center;
  background-size: cover;
  height: 600px;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.form_index {
  align-items: center;
}

.form_container div {
  width: 100%;
  display: grid;
  grid-auto-columns: 100%;
  gap: 1em;
}

.form_input {
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  color: #d4ddd8;
  border-bottom: solid 2px #d4ddd8;
  background-color: transparent;
}

input[type=text] {
  border: none;
  border-bottom: solid 2px #d4ddd8;
}

input:active {
  border-bottom: solid 2px #FCB631;
}

.form-input-message {
  resize: none;
}

.imagencontacto img {
  justify-content: center;
  margin: 2rem;
}

.titulocontacto {
  display: flex;
  font-size: 25px;
  margin-bottom: 100px;
}

.texto-blog p {
  font-size: 1.25rem;
  margin: 1.25rem 0px;
}

.texto-blog h3 {
  color: #d4ddd8;
}

.texto-blog h5 {
  color: #d4ddd8;
  text-align: start;
  margin: 2rem 0rem;
  font-family: axiforma;
  font-size: 1.5rem;
}

.texto-blog li {
  margin: 0.5rem 0rem;
}

.texto-blog {
  margin: 2.5rem 0px;
  word-spacing: 5px;
}

.banner-blog {
  display: flex;
  justify-content: center;
}

.body-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-blog div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-blog {
  margin: 0px 0.5rem;
  padding: 1rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.subtitulo-blog h4 {
  font-size: 20px;
}

.subtitulo-blog {
  border-bottom: 1px solid #FCB631;
  margin-top: 5rem;
}

.banner {
  width: 20em;
  background: #FCB631;
  height: 5em;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  border-radius: 0.3em;
}
.banner:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.55);
}

.shopping-image {
  height: auto;
  width: 10em;
}
.shopping-image > img {
  height: 5em;
  width: 10em;
  object-fit: cover;
  border-radius: 0 2em 2em 0/0 3em 3em 0;
  box-shadow: 3px 5px 1px 3px #c48103;
}

.text {
  height: 5em;
  width: 10em;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.text > * {
  font-size: 15px;
  text-align: center;
}

.text h4, .text p {
  color: #21412E;
}

#linkblog {
  color: #FCB631;
  transition: all 0.5s;
}
#linkblog:hover {
  color: #d4ddd8;
}

.texto-producto {
  padding: 10px;
  max-width: 100%;
  text-align: start;
}

.texto-producto h3 {
  color: #d4ddd8;
  font-family: monument;
}

.texto-producto h1 {
  text-align: start;
  margin: 2rem 0rem;
}

#btnproducto1 {
  text-align: center;
  padding: 20px 100px;
  color: #d4ddd8;
  background-color: transparent;
  border: solid 2px #d4ddd8;
  align-items: center;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
}
#btnproducto1:hover {
  color: #21412E;
  background-color: #d4ddd8;
  border-color: #d4ddd8;
}

.zoom {
  transition: transform 0.5s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

.wsk-cp-product {
  background: #21412E;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 20px auto;
}

.wsk-cp-img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

.wsk-cp-img img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

.wsk-cp-product:hover .wsk-cp-img {
  top: -40px;
}

.wsk-cp-product:hover .wsk-cp-img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wsk-cp-text {
  padding-top: 100%;
}

.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.wsk-cp-text .category > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
}

.wsk-cp-text .category > a {
  padding: 12px 30px;
  border: 1px solid #313131;
  background: #1A3927;
  color: #fff;
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}

.wsk-cp-product:hover .wsk-cp-text .category > a {
  border-color: #ddd;
  background-color: #d4ddd8;
  color: #21412E;
  box-shadow: none;
  padding: 11px 28px;
}

.wsk-cp-product:hover .wsk-cp-text .category {
  margin-top: 0px;
}

.wsk-cp-text .title-product {
  text-align: center;
}

.wsk-cp-text .title-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.wsk-cp-text .description-prod p {
  margin: 0;
}

/* Truncate */
.wsk-cp-text .description-prod {
  text-align: start;
  width: 100%;
  height: 170px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

.card-footer {
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}

.card-footer:after, .card-footer:before {
  content: "";
  display: table;
}

.card-footer:after {
  clear: both;
}

.card-footer .wcf-left {
  float: left;
}

.card-footer .wcf-right {
  float: right;
}

.price {
  color: #d4ddd8;
  font-size: 18px;
  font-family: axiforma-thin;
  font-weight: bold;
}

a.buy-btn {
  display: block;
  color: #d4ddd8;
  font-family: axiforma-thin;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  transition: all 0.2s ease-in-out;
}

a.buy-btn:hover, a.buy-btn:active, a.buy-btn:focus {
  color: #FCB631;
  text-decoration: none;
}

.wsk-btn {
  display: inline-block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #FF9800;
  background: #FF9800;
  padding: 12px 30px;
  border-radius: 27px;
  margin: 0 5px;
}

.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active {
  text-decoration: none;
  color: #fff;
}

.red {
  color: #F44336;
  font-size: 22px;
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 991px) {
  .wsk-cp-product {
    margin: 40px auto;
  }

  .wsk-cp-product .wsk-cp-img {
    top: -40px;
  }

  .wsk-cp-product .wsk-cp-img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .wsk-cp-product .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
  }

  .wsk-cp-product .wsk-cp-text .category {
    margin-top: 0px;
  }
}
.postinteres h5 {
  color: #d4ddd8;
}
.postinteres h5:hover {
  color: #FCB631;
}

.hover08 figure img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover08 figure:hover img, .hover08 figure:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) opacity(0.5) drop-shadow(#8ee1af 0 0 0);
}

figure {
  margin: 0px;
}

.hover08 h2 {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover08:hover h2 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) opacity(0.5) drop-shadow(#8ee1af 0 0 0);
}

.hero-image-index, .hero-image-productos, .hero-image-pf, .hero-image-blog, .hero-image-post1 {
  background-size: cover;
  height: 600px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

footer, footer div, .flex__pr, .contenedor__galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.hero-text, .hero-texttienda, .hero-text-boton {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
}

.btnfooter a, .manifiesto__2, .manifiesto__texto, .manifiesto__img1, .flex__pr, .container2, .formulario_img, .galeria, .columnas__quienes, .text-q, .boton__quienes a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tituloblog-index, .img_mobile2, .centrado, .texto__quienes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.fondocard-cbn, .fondocard-11, .fondocard-pet, .fondocard-energy, .fondocard-carnet {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 310px;
  transition: all 0.5s;
}

.boton_comprar2 a, .button2 a, .button2 input {
  text-align: center;
  padding: 10px 20px;
  color: #21412E;
  background-color: #d4ddd8;
  border: solid 2px #d4ddd8;
  align-items: center;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
  margin: 20px 5px;
}
.boton_comprar2 a:hover, .button2 a:hover, .button2 input:hover {
  color: #d4ddd8;
  background-color: #21412E;
  border-color: #d4ddd8;
}

#btnproducto {
  text-align: center;
  padding: 10px 20px;
  color: #d4ddd8;
  background-color: transparent;
  border: solid 2px #d4ddd8;
  align-items: flex-start;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
  margin: 20px 5px;
}
#btnproducto:hover {
  color: #21412E;
  background-color: #d4ddd8;
  border-color: #d4ddd8;
}

.boton_comprar a, .boton__quienes a {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FCB631;
  transition: all 0.5s;
  background-color: #21412E;
  border: 2px solid #FCB631;
  width: 150px;
  padding: 10px 20px;
  margin-top: 2rem;
}
.boton_comprar a:hover, .boton__quienes a:hover {
  color: #21412E;
  background-color: #FCB631;
}

/*# sourceMappingURL=style.css.map */
