/*general*/
*{
    margin:0;
    padding: 0;  
}
.container__grid{
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);

    grid-template-areas: 
    "header header header"
    "producto producto producto"
    "galeria galeria galeria"
    "quienes quienes quienes"
    "footer footer footer";

}
.container__grid__galeria{
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "header header header"
    "galeria galeria galeria"
    "footer footer footer";

}

@media (max-width: 450px){
    header{
        height: 600px;    
    }
    main{
        height: 600px;
    }
    .contenedor__galeria{
        height: 600px;
    }
    .columnas__quienes{
        height: 300px;
    }
    footer{
        height: 200px;

    }
    .footer img{
        justify-content: center;
    }
    .img__quienes img{
        display: none;
    }

    .producto-index{
        margin-top: 2rem;
    }
    .manifiesto__img1 img{ 
        display: none;
    }
    .galeria__{
        height: auto;
    }
    .container__grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "producto"
        "galeria"
        "quienes"
        "footer";
    }



}

@media (min-width: 451px) and (max-width: 800px){
    header{
        height: auto;    
    }
    main{
        height: auto;

    }
    .contenedor__galeria div{
        height: auto;
    }
    .columnas__quienes div{
        height: auto;
    }
    footer{
        height: auto;
    }
    .manifiesto__img1 img{ 
        display: none;
    }
    .img__quienes{
        display:none;
    }
    .img_f{
        display: none;
    }
    .container__grid{
        display: grid;
        grid-template-columns: repeat  (1fr 1fr);
        grid-template-areas: 
        "header header"
        "producto producto"
        "galeria galeria"
        "quienes quienes"
        "footer footer";
    
    }

}


body{
    background-color: #21412E;
    font-family: axiforma;
}

h1{
    font-family: monument;
    text-align: center;
    color: white;
}
h2{
    color: #d4ddd8;
    font-family: carentro;
}


a{
    text-decoration: none;
    color:#21412E;    
}

.contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #d4ddd8; 
    }


.centrado{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;   
    margin: auto;
}
/*header*/

/* header index*/

.header__index{
    background-image: url(../img/Grupo\ 17492.png);
    grid-area: header;
    background-position: center;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.button-index a{
    padding: 15px;
    margin-bottom: 40px;
    font-weight: bolder;
    transition: all 0.5s;
    background-color: #21412E;
    font-family: axiforma;
    border: 2px solid #FCB631;
    cursor: pointer;
    color: #FCB631;
        
}        
.button-index:hover a{
        background-color: #FCB631;    
        color:#21412E;   
} 

/* header productos*/
.header-productos{
    background-image: url(../img/Componente\ 34\ –\ 1.png); 
    grid-area: header;
    background-position:center;
    height: 400px;

        
}    
.header-productos_div{
    display: flex;
    justify-content: space-between;
}
.logo__header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3rem;

}
.header__nav{
    margin-top: 2rem;
}
.header__nav ul a{
    color: #d4ddd8;  
    margin-top: 2rem;
}
.header__nav ul a:hover{
    color: #FCB631;
}
.header__element li{
    list-style: none;
    display: inline;
    padding: 2rem; 

}



/*tienda o productos*/

/*tienda o productos-index*/
.section-producto{
    grid-area: producto;
    background-position: 4rem;
    background-color: #FCB631;
    background-repeat: no-repeat;
    height:auto;
    width:auto;
    padding: 10px;
    
        
}
#titulo-producto{
    display: flex;
    justify-content:center;
    margin-top: 2rem;    
    color: #21412E;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 2rem;
    
}
.flex__pr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;

}
.producto-index{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none!important;
    width: 250px;
    background-color: #21412E;   
    margin-top: 2rem; 
}
.producto__c{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 1rem;
    text-align: center;
}

.button{
    text-align: center;
    padding: 20px;
    color: #FCB631;
    border: 2px solid #d4ddd8;
    background-color: #21412E;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    font-weight: bolder;
    transition: all 0.5s;
}        
.button:hover{
    text-align: center;
    padding: 20px;
    color: #21412E;
    border-color:#21412E;
    background-color: #FCB631;
}

/*tienda o productos-productos*/
.titulo__producto h1{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.boton_comprar{
    margin:2rem 0px;
    cursor: pointer;
}
.boton_comprar a{
    text-decoration: none;
    text-align: center;
    background-color: #21412E;
    padding: 15px;
    color: #FCB631;
    font-weight: bolder;
    transition: all 0.5s;
    border-style: solid;
    border-color: #FCB631;
    border-width: 3px;
    cursor: pointer;
}

.boton_comprar:hover a{
    text-align: center;
    padding: 15px;
    color: #21412E;
    background-color: #FCB631;  

}

/*galeria de imagenes*/
.button2 a{
    text-align: center;
    padding: 20px;
    color: #FCB631;
    font-weight: bolder;
    transition: all 0.5s;
    background-color: #21412E;
    border: 2px solid #FCB631;
    
}  
  
.button2:hover a{
    text-align: center;
    padding: 20px;
    color: #21412E;
    background-color: #FCB631;
} 
.galeria{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.fondo__galeria{
    width: 1290px;
    height: 280px;
}
.contenedor__galeria{
    grid-area: galeria;
    background-image: url(../img/galeria-img.png);
    width: auto;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.header-galeria{
    background-image: url(../img/galeria\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    grid-area: header;

}
.galeria__{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: producto;
    justify-content: center;
    margin-top: 3rem;
    
}
.galeria__imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.galeria__img1 img{
    width: 400px;
    height: 600px;
    display: flex;
    margin: 3rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.galeria__img2{
    display: flex;
    flex-direction: column;  
    margin-top: 6rem;

}
.galeria__img2 img{
    border: black 2px solid;
    width: 200px;
    height: 200px;
}
.galeria__video iframe{
    display: flex;
    padding:3rem;
    grid-area: quienes;
}


/*quienes somos/contacto*/
.columnas__quienes{
    grid-area: quienes;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
    margin-top: 100px;
    margin-bottom: 100px;
   
    
    
}
.texto__quienes{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: wrap;  
    background-color: #21412E; 
   
}
.titulo-q{
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}
.text-q{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    color: #d4ddd8;
    font-family: axiforma;
    margin: 10px 0pxs 10px 0px;

}
.img__quienes img{
    width: 600px;
    height: 400px;
}
.boton__quienes a{
    display: flex;
    flex-direction: row;
    align-items:center;
    color: #FCB631;
    font-weight: bolder;
    transition: all 0.5s;
    background-color: #21412E;
    border: 2px solid #FCB631;
    width: 100px;
    padding: 1rem;
    margin-top: 2rem;

}
.boton__quienes:hover a{
    color: #21412E;
    background-color: #FCB631;
}

       
/*footer*/
.footer{
    grid-area: footer;
    background-color: #21412E;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.img_f img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100px;
    height: 100px;
    margin-top: 3rem;

        
}
.footer__f{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.titulo-f h2{  
    font-size: 15px;
    list-style: none;
    font-family: monument;
    text-align: center;
    margin-top: 3rem;

}

.datos-f {
    text-decoration: none;
    list-style: none;
    color: #d4ddd8;
    line-height: 20px;
    margin-top: 3rem;
    
    
}

/*manifiesto*/
.header-manifiesto{
    background-image: url(../img/pexels-francesco-ungaro-1671324.jpg);
    background-position-y: center;
    height: 400px;
    grid-area: header;
        
}  
.manifiesto{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-top: 5rem;
    grid-area: producto;  
    

}
.manifiesto__2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.manifiesto__texto{
    display: flex;
    flex-direction: row;
    width: 800px;
    text-align: justify;
    color: white;
    margin-left: 5rem;
    
}
.manifiesto__img1{
    display: flex;
    flex-direction: row;
    margin-left: 6rem;
    margin-top: -1rem;
    grid-area: galeria;
    
    
}
    
.manifiesto__img2{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    
   
}


/*contacto */
.header-contacto{
    background-image: url(../img/Grupo\ 1750.png);
    background-position-y: center;
    background-repeat: repeat;
    background-size: cover;
    height: 400px;
    grid-area:header;

}
form{
    display: flex;
    flex-direction: column;
    width: 30rem;
}
input[type=text], select, textarea {
    
    color: white;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
}
  

input[type=submit] {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    background-color: #21412E;
    padding: 15px;
    color: #FCB631;
    font-weight: bolder;
    transition: all 0.5s;
    border-style: solid;
    border-color: #FCB631;
    border-width: 3px;
}

input[type=submit]:hover {
    background-color: #FCB631;
    color: #21412E;
}
  
.container {
    display: flex;
    flex-direction: row;
    grid-area: producto;
    justify-content: center;

    
}
.formulario{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: transparent;
    padding: 2px;
    margin: 2rem 5rem 1rem 5rem;
    color: white;
}
.formulario_img{
    display: flex;
    align-items: center;
    
}

/*about*/

.about{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 10rem;

}

.about h2{
    margin: 2rem;
}
.about p{
    color: white;   

}

/* probando*/

i {
	position: relative;
	display: block;
	width: 450px;
	height: 600px;
	overflow: hidden;
	border-radius: 5px;
}

i:before, i:after {
	content: '<';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: #FCB631;
	color: #21412E;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
	content: '>';
	left: auto;
	right: 1rem;
}


i {
	position: relative;
	display: block;
	width: 500px;
	height: 700px;
	overflow: hidden;
	border-radius: 5px;
}

i:before, i:after {
	content: '<';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: #FCB631;
	color: #21412E;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
	content: '>';
	left: auto;
	right: 1rem;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
i input{
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

i input:focus {
	outline: none;
}

i input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 1rem;
	border-radius: 5px;
}

i input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

i input:checked:before {
	display: none;
	left: 1rem;
}

i input:checked {
	transform: translateX(0);
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

i input:checked + input:before {
	left: -3rem;
}

i input:checked + input ~ input:before {
	display: none;
}