@import "../base/variables";
body{
    background-color: $nnabis1;
    font-family: axiforma;
    h1{
        font-family: monument;
        text-align: center;
        color: white;
        font-size: 35px;
    }
}

body{
    h2{
        color: $nnabis3;
        font-family: carentro;
        font-size: 40px;
        
    }
}
body{
    a{
        text-decoration: none;
        color:$nnabis1;
       
    }
}
body{
    p{
        color: $nnabis3;

    }
}