@import "../base/variables";
@import "../base/mapa";


header{
    background: map-get($header , posicion );
    height: map-get($header, altura);
    .navbar-light .navbar-nav .nav-link{
    color: $nnabis3;
        &:hover{
            color: $nnabis2;
        }
    }
    .offcanvas{
        background-color: $nnabis1;

    }
    .navbar-toggler{
        background-color: $nnabis2;


    }

}