@import "../base/variables";
body{
    background-color: $nnabis1;
    font-family: axiforma;
    margin: 0px;
    cursor: default;
    body::-webkit-scrollbar-track {
        background-color: $nnabis1;
    }
    h1{
        font-family: monument;
        text-align: center;
        color: white;
        font-size: x-large;
    }
    h2{
        font-family: monument;
    }
    h3{
        font-family: axiforma;
        font-size: medium;
        color: white;
        
    }
    h4{
        color: $nnabis3;
        font-family: axiforma;
        font-size: 20px;
    }
    h5{
        font-family: monument;
        font-size: medium;
        color: white;
        text-align: center;
    }
        
    h6 {
        color: $nnabis3;
        font-family: axiforma;
    }
    li{
        color: $nnabis3;
        font-size: 1.25rem;
    }
 
}

body{
    h2{
        color: $nnabis3;
        font-family: carentro;
        font-size: 40px;
        
    }
}
body{
    a{
        text-decoration: none;
        color:$nnabis1;
       
    }
}
body{
    p{
        color: $nnabis3;

    }
}
*{
    margin:0;
    padding: 0;  
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: $nnabis1; /* Set a background color */
    color: $nnabis1; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 15px; /* Some padding */
    transition: all 0.5s;
    border-radius: 100px; /* Rounded corners */
    border: solid 1px $nnabis2;
  }
  
  #myBtn:hover {
    background-color: $nnabis2; /* Add a dark-grey background on hover */
    border: solid 1px $nnabis2;
  }

  .navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
    max-width: 1200px;
}

::selection {
    background: $nnabis3;
    color: $nnabis1;
}

.row{
    align-items: center
}
ul{
    list-style: none;
}