@import "../base/variables";
body{
    background-color: $nnabis1;
    font-family: axiforma;
    h1{
        font-family: monument;
        text-align: center;
        color: white;
        font-size: xx-large;
    }
    h4{
        color: $nnabis3;
        font-family: axiforma;
        font-size: 20px;
    }
    h5{
        color: white;
        
    }
}

body{
    h2{
        color: $nnabis3;
        font-family: carentro;
        font-size: 40px;
        
    }
}
body{
    a{
        text-decoration: none;
        color:$nnabis1;
       
    }
}
body{
    p{
        color: $nnabis3;

    }
}
*{
    margin:0;
    padding: 0;  
}