@import "../base/variables";
@import "../base/extends";
@import "../base/mixin";


footer{
    @extend %disposicionfooter;
    background-color: $nnabis1;
    @include margenesfooter (6rem, 3rem);
    div{
        @extend %disposicionfooter;
        justify-content: center;
    }
    img{
        width: 100px;
        height: 100px;
    }
    h2{
        font-size: 15px;
        list-style: none;
        font-family: monument;
        text-align: center;
    }
    ul{
        text-decoration: none;
        list-style: none;
        color: $nnabis3;
        line-height: 20px;
    }
}