@import "../base/variables";
@import "../base/extends";
@import "../base/mixin";


footer{
    @extend %disposicionfooter;
    background-color: $nnabis1;
    @include margenesfooter (6rem, 3rem);
    div{
        @extend %disposicionfooter;
        justify-content: center;
    }
    
    h2{
        font-size: 15px;
        list-style: none;
        font-family: monument;
        text-align: center;
    }
    ul{
        text-decoration: none;
        list-style: none;
        color: $nnabis3;
        line-height: 20px;
    }
}

.footernnabis{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.btnfooter a{
    @extend %columnas;
    align-items:center;
    justify-content: center;
    color: $nnabis2;
    font-weight: bolder;
    transition: all 0.5s;
    background-color: $nnabis1;
    border: 2px solid $nnabis2;
    width: 150px;
    padding: 1rem;
    margin: 2rem 1rem;
    &:hover {
      color: $nnabis1;
      background-color: $nnabis2;
    }
}