@import "../base/variables";
@import "../base/mapa";
@import "../base/extends";

.btn-close{
    background-image: url(../img/xx.png);
}
header{
    background: map-get($header , posicion );
    height: map-get($header, altura);

}
.hero-image-index{
    background: url(../img/Grupo\ 17492.png); 
    @extend %headernnabis;
}
.hero-image-productos{
    background: url(../img/Componente\ 34\ –\ 1.png);
    @extend %headernnabis;
}
.hero-image-pf{
    @extend %headernnabis;
}
.titulo-pf h1{
    color: $nnabis4;
    font-size: 10vw;
    font-family: luimp;
}
.hero-image-manifiesto{
    background-image: url(../img/portada\ manifiesto.png);
    height: 600px;
    background-size: 80%;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    &:hover{
        background-image: url(../img/portada\ manifiesto\ gris.png);
    }
}
.hero-image-blog{
        background: url(../img/portada\ blog\ nueva.jpg); 
        @extend %headernnabis;
    }
.hero-image-post1{
        @extend %headernnabis;
    }
.navbar-light .navbar-nav .nav-link{
    font-size: $fontnnabisT;
    color: $nnabis3;
        &:hover{
            color: $nnabis2;
        }
    }
.offcanvas{
        background-color: $nnabis1;

    }
.navbar-toggler{
        background-color: $nnabis2;
    }
.navbar-toggler-icon{
        background-image: url();
    }
.hero-text{
        @extend %textoheader;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $nnabis3;
        justify-content: center;
    }

.hero-texttienda{
        @extend %textoheader;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $nnabis3;
        justify-content: center;
 }

.hero-text-boton {
        @extend %textoheader;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $nnabis3;
    }

.button-index a{
        padding: 15px;
        margin-top: $fontnnabisT;
        transition: all 0.5s;
        background-color: transparent;
        font-family: axiforma;
        
        cursor: pointer;
        color: $nnabis3;
        &:hover{    
            color:$nnabis2;
        }
}
@media only screen and (min-width: 100px) and (max-width: 700px){
    .button-index a{
        font-size: 13px;
        margin-top: $fontnnabisT;
        transition: all 0.5s;
        background-color: transparent;
        font-family: axiforma;
        cursor: pointer;
        color: $nnabis3;
        &:hover{
                
            color:$nnabis2;
        }  
}      
}
@media only screen and (max-width: 500px){
    .titulo-pf h1{
        font-size: 16vw; 
}      
}
.hero-text{
    flex-direction: column;
    align-items: center
}
.hero-text-boton {
    @extend %textoheader;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $nnabis3;
}    

.breadcrumb{
    justify-content: center;
}
.breadcrumb-item a{
    font-family: axiforma;
    color: $nnabis3;
    &:hover{
        color: $nnabis2;
        
    }
}
#breadcrumbactive{
    font-family: axiforma-medium;
    color: $nnabis2;
}

.row{
    --bs-gutter-x: 0px;
}
/* From uiverse.io by @satyamchaudharydev */
button {
    --primary-color: transparent;
    --secondary-color: #fff;
    --hover-color: transparent;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }