@import "../base/variables";
@import "../base/extends";

@media (max-width:770px){
  .galeria__{
    display: none;
  } 
  .acordeonindex{
    display: none;
  }
  .manifiestotitulo2{
    display: none;
  }
  .imagencontacto{
    display: none;
  }
  
}
@media (max-width:992px){
  .acordeonindex{
    display: none;
  }
}
@media screen and (min-width:701px){
  .img_mobile{
      display: none;
  } 
  .contactoindex{
    display: block;
  }

}
@media (max-width:600px){
  
 .img__quienes{
   display: none;
 }
 .tituloblog-index h2{
  font-size: 23px;
}
.textomanifiesto p{
  padding: 0.5rem;
}


}



/*about*/
main{
    h2{
        margin: 2rem;
    }
    p{
        color: $nnabis3;
    }
    a{
        padding: 15px;
        margin-top: 30px;
        font-weight: bolder;
        transition: all 0.5s;
        background-color: $nnabis1;
        font-family: axiforma;
        border: 2px solid $nnabis2;
        color: $nnabis2;
        &:hover{
            background-color: $nnabis2;    
            color: $nnabis1; 
        }
    }
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

/*manifiesto*/
.manifiesto__2{
    @extend %columnas;
    margin-top: 2rem;
    padding: 1rem;
    justify-content: center;

  
  }
.manifiesto__texto{
    @extend %columnas;
    text-align: center;
    color: white;
    max-width: 400px;

    
  }
  
.manifiesto__img1{
    @extend %columnas;
    justify-content: center;  
    align-items: center; 
    margin-top: 5rem;
    
    
  }
  .manifiesto__img1 img{
    width: 800px;
    
  }
    
.manifiesto__img2 img{
    margin-left: 4rem;
    width: 450px;
    height: 100px;
  }
  #titulo-manifiesto{
    color: $nnabis2;
    font-size: 30px;
  }
  .fondo-manifiesto{
    background-image: url(../img/FONDO\ MANIFIESTO.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  /*ACORDEON INDEX*/
  .btnacordeon a{
    align-items: center;
  }
  .btnacordeon2 a{
    align-items: center;
    float: right;
  }
  .acordeonindex{
    align-items: center;
    background-color: transparent;
   
  }

.col-lg-6{
  padding: 0px;
}
  .accordion-item{
    background-color: transparent;
    border: none;
    
  }
 .accordion-button{
   margin-top: -10px;
   background-color: transparent;
   color: $nnabis3;
   border-bottom: 2px solid $nnabis3;
 }
 .accordion-button:not(.collapsed){
   background-color: transparent;
   color: $nnabis3;
 }
 .accordion-button:not(.collapsed)::after{
   background-image: url(../img/arrow\ down\ white.png);
 }
 .accordion-button::after{
   background-image: url(../img/arrow\ up\ white.png);
 }
 .accordion-button:focus{
   border-color: $nnabis3;
   box-shadow: none;
 }
 .accrdio-body p{
   color: $nnabis3;
 }

 .imgacordeon{
   background-image: url(../img/cultivannabis\ acordeon.png);
   height: 293px;
   background-size: contain;
   &:hover{
     background-image: url(../img/Grupo\ 1750\ BYN.jpg)
   }
 }

 /* NOTICIAS */
 
 .tituloblog-index{
   @extend %displaycolumn;
   margin-top: 5rem;
 }
 .tituloblog-index h2{
   color: $nnabis2;
   font-family: monument;
   margin-top: 1rem;
 }
 .cardblog{
   padding: 1rem;
   border: solid 2px $nnabis3;
   margin: 2rem 0;
 }
 .blogindex{
   align-items: center;
   padding: 1rem 2rem;

 }
 
 .card2{
  align-content: center;
 }
 .card-body2 a{
   color: $nnabis3;
   transition: all 0.5s;
   margin: 0px;
   &:hover{
     color: $nnabis2;
   }

 }
 .card-body{
  padding: 1rem;
  background-color: $nnabis4;
  border-radius: 10px;
 }
 .card-body2{
   padding: 10px;
   background-color: $nnabis1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;


 }
 .card-text2{
   max-width: 400px;
 }
  /*producto*/


#titulo-producto img{
    display: flex;
    justify-content:center;
    margin-top: 2rem;    
    margin-bottom: 2rem;
    
  }
.flex__pr{
    @extend %columnas;
    justify-content: space-evenly;
    
  }

  .card{
    align-content: center;
    border: none;
    border-radius: 10px;
    background-color: $nnabis4;
    margin-top: 20px;
     box-shadow:  10px 5px 5px rgb(35, 44, 35);
  }
  .fondocard-cbn {
    background-image: url(../img/CBN\ +\ VALERIANA.jpg);
    @extend %card;
    &:hover{
    background-image: url(../img/Nnabis\ 7CUADRADO\ cbn.jpg);
  }
  }
  .fondocard-11 {
    background-image: url(../img/Nnabis\ 4CUADRADO.jpg);
    @extend %card;
    &:hover{
    background-image: url(../img/Nnabis\ 4CUADRADO\ 1.1.jpg);
  }
  }
  .fondocard-pet {
    background-image: url(../img/GOLDEN\ PET.jpg);
    @extend %card;
    &:hover{
    background-image: url(/img/nnabis\ pet.jpg); 
    
  }
  }
  .fondocard-energy{
    background-image: url(../img/ENERGY\ SPORT.jpg);
    @extend %card;
    &:hover{
    background-image: url(../img/Nnabis\ 6\ CUADRADO\ energy.jpg);
  }
  }
  .fondocard-carnet{
    background-image: url(../img/Editable\ reprocan.jpg);
    @extend %card;
    &:hover{
    background-image: url(../img/Editable\ reprocan\ atras.jpg);
  }
  }
  .fondocard-blog {
    background-position: center;
    background-repeat: none;
    background-size: cover;
    min-height: 300px;
    border: 2px solid $nnabis4;
    border-radius: 10px 10px 10px 10px;
   
  }




  .boton_comprar{
    margin:2rem 0px;
    cursor: pointer;
  }
  .boton_comprar2{
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
  }
  .boton_comprar a{
    text-decoration: none;
    text-align: center;
    background-color: $nnabis1;
    padding: 8px 14px;
    color: $nnabis2;
    transition: all 0.5s;
    border-style: solid;
    border-color: $nnabis2;
    border-width: 1px;
    cursor: pointer;
        &:hover{
        color: $nnabis1;
        background-color: $nnabis2; 
        border-color: $nnabis1;
      
        }
  }
  .boton_comprar2 a{
    text-decoration: none;
    text-align: center;
    font-weight: lighter;
    font-size: small;
    background-color: $nnabis3;
    padding: 5px 10px;
    color: $nnabis1;
    transition: all 0.5s;
    border-style: solid;
    border-color: $nnabis3;
    border-width: 1px;
    cursor: pointer;
        &:hover{
        color: $nnabis3;
        background-color: $nnabis1; 
        border-color: $nnabis3;
      
        }
  }
  .espacio{
    height: 20px;
  }

  .subtitulotienda h3{
    font-family: monument;
    color: white;
  }
  .subtitulotienda{
    border-bottom: 2px solid black;
    margin-top: 50px;
  }
  .row>*{
    padding: 0px;
  }
  /*galeria de imagenes*/
  .galeria__{
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .blog__{
    margin-top: 3rem;
    padding: 1rem;
  }
  .galeria__imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
  .galeria__img1 img{
    width: 400px;
    height: 600px;
    display: flex;
    margin: 3rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
  }
  .galeria__img2{
    display: flex;
    flex-direction: column;  
    margin-top: 6rem;
  
  }
  .galeria__img2 img{
    border: black 2px solid;
    width: 100%;
    height: 200px;
  }
  .slidersize{
    width: 100%;
    height: 500px;
  }
  .carousel-indicators{
    margin-left: 0px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: $nnabis1;

  }

 
.img_mobile2{
  @extend %displaycolumn;
  align-content: center;
}
  .img_mobile img{
    max-width: 100%;
    margin-top: 4px;    
  }

  
  /*contacto*/

.container2 {
    @extend %columnas;
    justify-content: center;
    height: auto;
    width: auto;
  }
.formulario{
    border-radius: 5px;
    background-color: transparent;
    padding: 2px;
    margin: 2rem 5rem 1rem 5rem;
    color: white;
  }
.formulario_img{
  @extend %columnas;
  justify-content: center;  
  align-items: center;  
  }
form{
    display: flex;
    flex-direction: column;
    width: 30rem;
  }
input[type=text], select, textarea {
    color: $nnabis3;
    padding: 12px; 
    border: 1px solid $nnabis3; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  
  /*input[type=submit] {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    background-color: $nnabis1;
    padding: 15px;
    color: $nnabis2;
    font-weight: bolder;
    transition: all 0.5s;
    border-style: solid;
    border-color: $nnabis2;
    border-width: 3px;
    &:hover {
      background-color: $nnabis2;
      color: $nnabis1;
    }
  }*/

  input[type=reset] {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    background-color: $nnabis1;
    padding: 15px;
    color: $nnabis2;
    font-weight: bolder;
    transition: all 0.5s;
    border-style: solid;
    border-color: $nnabis2;
    border-width: 3px;
    &:hover {
      background-color: $nnabis2;
      color: $nnabis1;
    }
  }

  /*Index*/
.section-producto-index{
  background-position: 4rem;
  background-color: $nnabis2;
  background-repeat: no-repeat;
  height:auto;
  width:auto;
  padding: 10px;
  }
.section-producto{
    background-position: 4rem;
    background-color: $nnabis1;
    background-repeat: no-repeat;
    height:auto;
    width:auto;
    padding: 10px;
    background-image: url(../img/elemento\ aire.png);
    background-position-x: -30%;
    }
  .section-producto-permiso{
    background-image: url(../img/elemento\ agua.png);
    background-color: $nnabis2;
    }

#titulo-producto{
    display: flex;
    justify-content:center;
    margin-top: 2rem;    
    color: $nnabis2;
    font-family: monument;
    font-size: $fontnnabisT;
    margin-bottom: 2rem;
    text-align: center;
    
  }
.flex__pr{
    @extend %disposicionfooter; 
  }
.producto-index{
    @extend %columnas;
    justify-content: space-around
  }
.centrado{
    @extend %displaycolumn;
    margin: auto;
  }
.button3{
    text-align: center;
    padding: 5px 12px;
    color: $nnabis1;
    background-color: $nnabis3;
    margin-top: 40px;
    border-color: transparent;
    margin-bottom: 40px;
    align-items: center;
    transition: all 0.5s;
    font-family: axiforma-thin;
    font-size: small;
    &:hover{
      color: $nnabis3;
      background-color: $nnabis1;
      border-color: $nnabis3;

    }
  }        
.button2 a{
    text-align: center;
    padding: 5px 12px;
    color: $nnabis1;
    transition: all 0.5s;
    font-family: axiforma-thin;
    font-size: medium;
    background-color: $nnabis3;
    &:hover {
      color: $nnabis3;
      background-color: $nnabis1;

    }
    
  }  
  .button2{
    display: flex;
    justify-content: center;
  }
 
  .galeria{
    @extend %columnas;
    text-align: center;
    justify-content: center;
  }
  .fondo__galeria{
    width: 1290px;
    height: 280px;
  }
  .contenedor__galeria{
    background-image: url(../img/portada\ galeria.jpg);
    width: auto;
    @extend %disposicionfooter;
    justify-content: space-around;
  }


  .columnas__quienes{
    @extend %columnas;
    justify-content: center;
    align-items: center;
       
  }
  .texto__quienes{
    @extend %displaycolumn;  
    background-color: $nnabis1; 

   
  }
  .titulo-q{
    @extend %columnas;
    
  }
  .text-q{
    @extend %columnas;
    justify-content: flex-start;
    width: auto;
    color: $nnabis3;
    font-family: axiforma;
    margin: 10px 0pxs 10px 0px;
  }
  .text-q H3{
    color: $nnabis2;
    font-family: monument;
    font-size: x-large;
  }
  .img__quienes img{
    width: 90%;
    height: 500px;
    margin-left: 30px;
    
    
  }

  .boton__quienes a{
    @extend %columnas;
    align-items:center;
    justify-content: center;
    color: $nnabis2;
    
    transition: all 0.5s;
    background-color: $nnabis1;
    border: 2px solid $nnabis2;
    width: 150px;
    padding: 5px 12px;
    margin-top: 2rem;
    &:hover {
      color: $nnabis1;
      background-color: $nnabis2;
    }
  
  }
  .quienesindex{
    height: 200px;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    border: none;
    margin: 2rem 0;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    box-shadow:  10px 5px 5px rgb(35, 44, 35);
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: $nnabis1;
    border: solid $nnabis3 2px;
    padding: 20px;
    color: white;
    transform: rotateY(180deg);
  }




  .manifiestoindex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../img/FONDO\ MANIFIESTO.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-bottom: 10rem;

  }
  .manifiestotitulo h3{
    color: $nnabis2;
    font-family: monument;
    
  }
  .manifiestotitulo2 h2{
    display: flex;
    justify-content: center;
    color: #1A3927;
    font-family: luimp;
    font-size: 150px;
  
    }
  
  .textomanifiesto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: $nnabis1;   
    font-size: large;
    font-weight: bold;
  }
  .textomanifiesto p{
    justify-content: center;
  }
 
  .texto_man_index{
    justify-content: center;
    text-align: center;
  }

  /* CONTACTO */

  .contactoindex{
    background-image: url(../img/Grupo\ 1750.png);
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }

  .form_index{
    align-items: center;
    
  }
  .form_container div{
    width: 100%;
    display: grid;
    grid-auto-columns: 100%;
    gap:1em;
  }
  .form_input{
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    color: $nnabis3;
    border-bottom: solid 2px $nnabis3;
    background-color: transparent;
  }
input[type=text]{
  border: none;
  border-bottom: solid 2px $nnabis3;
}
input:active{
  border-bottom: solid 2px $nnabis2;
}
.form-input-message{
    resize: none;
  }
.imagencontacto img{
    justify-content: center;
    margin:2rem;
;
  }
.titulocontacto{
  display: none;
  font-size: 25px;
  margin-bottom: 100px;
  
}