@import "../base/variables";
@import "../base/extends";

@media (max-width:770px){
  .galeria__{
    display: none;
  } 
  .acordeonindex{
    display: none;
  }
  .manifiestotitulo2{
    display: none;
  }
  .imagencontacto{
    display: none;
  }
  
}
@media (max-width:992px){
  .acordeonindex{
    display: none;
  }
}
@media screen and (min-width:701px){
  .img_mobile{
      display: none;
  } 
  .contactoindex{
    display: block;
  }

}
@media (max-width:600px){
  
 .img__quienes{
   display: none;
 }
 .tituloblog-index h2{
  font-size: 23px;
}
.textomanifiesto p{
  padding: 0.5rem;
}


}



/*about*/
main{
    h2{
        margin: 2rem;
    }
    p{
        color: $nnabis3;
    }
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

/*manifiesto*/
.manifiesto__2{
    @extend %columnas;
    margin-top: 2rem;
    padding: 1rem;
    justify-content: center;

  
  }
.manifiesto__texto{
    @extend %columnas;
    text-align: center;
    color: white;
    max-width: 400px;

    
  }
  
.manifiesto__img1{
    @extend %columnas;
    justify-content: center;  
    align-items: center; 
    margin-top: 5rem;
    
    
  }
  .manifiesto__img1 img{
    width: 800px;
    
  }
    
.manifiesto__img2 img{
    margin-left: 4rem;
    width: 450px;
    height: 100px;
  }
  #titulo-manifiesto{
    color: $nnabis2;
    font-size: 30px;
  }
  .fondo-manifiesto{
    background-image: url(../img/FONDO\ MANIFIESTO.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  /*ACORDEON INDEX*/
  .btnacordeon a{
    align-items: center;
  }
  .btnacordeon2 a{
    align-items: center;
    float: right;
  }
  .acordeonindex{
    align-items: center;
    background-color: transparent;
   
  }

.col-lg-6{
  padding: 0px;
}
  .accordion-item{
    background-color: transparent;
    border: none;
    
  }
 .accordion-button{
   margin-top: -10px;
   background-color: transparent;
   color: $nnabis3;
   border-bottom: 2px solid $nnabis3;
 }
 .accordion-button:not(.collapsed){
   background-color: transparent;
   color: $nnabis3;
 }
 .accordion-button:not(.collapsed)::after{
   background-image: url(../img/arrow\ down\ white.png);
 }
 .accordion-button::after{
   background-image: url(../img/arrow\ up\ white.png);
 }
 .accordion-button:focus{
   border-color: $nnabis3;
   box-shadow: none;
 }
 .accrdio-body p{
   color: $nnabis3;
 }

 .imgacordeon{
   background-image: url(../img/cultivannabis\ acordeon.png);
   height: 293px;
   background-size: contain;
   &:hover{
     background-image: url(../img/Grupo\ 1750\ BYN.jpg)
   }
 }

 /* NOTICIAS */
 
 .tituloblog-index{
   @extend %displaycolumn;
   margin-top: 5rem;
 }
 .tituloblog-index h2{
   color: $nnabis2;
   font-family: monument;
   margin-top: 1rem;
 }
 .cardblog{
   padding: 1rem;
   border: solid 2px $nnabis3;
   margin: 2rem 0;
 }
 .blogindex{
   align-items: center;
   padding: 1rem 2rem;
.blogindex a:hover{
  background-image: url(../../img/blog/deportes\ 1.jpg);

}
 }
 
 .card2{
  align-content: center;
 }
 .card-body2 a{
   color: $nnabis3;
   transition: all 0.5s;
   margin: 0px;
   &:hover{
     color: $nnabis2;
   }

 }
 .card-body{
  padding: 1rem;
  background-color: $nnabis4;
  border-radius: 10px;
 }
 .card-body2{
   padding: 10px;
   background-color: $nnabis1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;


 }
 .card-text2{
   max-width: 400px;
 }
  /*producto*/


#titulo-producto img{
    display: flex;
    justify-content:center;
    
  }
.flex__pr{
    @extend %columnas;
    justify-content: space-evenly;
    
  }

  .card{
    align-content: center;
    border: none;
    border-radius: 10px;
    background-color: $nnabis4;
    margin-top: 20px;
    box-shadow:  5px 2.5px 2.5px rgb(33, 37, 33);
  }
  .fondocard-cbn {
    background-image: url(../img/CBN\ +\ VALERIANA.jpg);
    @extend %card;
    &:hover{
    background-image: url(../img/Nnabis\ 7CUADRADO\ cbn.jpg);
  }
  }
  .fondocard-11 {
    background-image: url(../img/Nnabis\ 4CUADRADO.jpg);
    @extend %card;
    &:hover{
    background-image: url(../img/Nnabis\ 4CUADRADO\ 1.1.jpg);
  }
  }
  .fondocard-pet {
    background-image: url(../img/GOLDEN\ PET.jpg);
    @extend %card;
    &:hover{
    background-image: url(/img/nnabis\ pet.jpg); 
    
  }
  }
  .fondocard-energy{
    background-image: url(../img/ENERGY\ SPORT.jpg);
    @extend %card;
    &:hover{
    background-image: url(../img/Nnabis\ 6\ CUADRADO\ energy.jpg);
  }
  }
  .fondocard-carnet{
    background-image: url(../img/Editable\ reprocan.jpg);
    @extend %card;
    &:hover{
    background-image: url(../img/Editable\ reprocan\ atras.jpg);
  }
  }
  .fondocard-blog {
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 300px;
    border-radius: 10px 10px 10px 10px;
  }

  .boton_comprar2{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
  }
  .boton_comprar a{
    @extend %boton2;
  }
  .boton_comprar2 a{
    @extend %boton;
  }
  .espacio{
    height: 20px;
  }

  .subtitulotienda h3{
    font-family: monument;
    color: white;
  }
  .subtitulotienda{
    border-bottom: 2px solid black;
    margin-top: 50px;
  }
  .row>*{
    padding: 0px;
  }
  /*galeria de imagenes*/
  .galeria__{
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .blog__{
    margin-top: 3rem;
    padding: 1rem;
  }
  .galeria__imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
  .galeria__img1 img{
    width: 400px;
    height: 600px;
    display: flex;
    margin: 3rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
  }
  .galeria__img2{
    display: flex;
    flex-direction: column;  
    margin-top: 6rem;
  
  }
  .galeria__img2 img{
    border: black 2px solid;
    width: 100%;
    height: 200px;
  }
  .slidersize{
    width: 100%;
    height: 500px;
  }
  .carousel-indicators{
    margin-left: 0px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: $nnabis1;

  }

 
.img_mobile2{
  @extend %displaycolumn;
  align-content: center;
}
  .img_mobile img{
    max-width: 100%;
    margin-top: 4px;    
  }

  
  /*contacto*/

.container2 {
    @extend %columnas;
    justify-content: center;
    height: auto;
    width: auto;
  }
.formulario{
    border-radius: 5px;
    background-color: transparent;
    padding: 2px;
    margin: 2rem 5rem 1rem 5rem;
    color: white;
  }
.formulario_img{
  @extend %columnas;
  justify-content: center;  
  align-items: center;  
  }
form{
    display: flex;
    flex-direction: column;
    width: 30rem;
  }
input[type=text], select, textarea {
    color: $nnabis3;
    padding: 12px; 
    border: 1px solid $nnabis3; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  
  /*input[type=submit] {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    background-color: $nnabis1;
    padding: 15px;
    color: $nnabis2;
    font-weight: bolder;
    transition: all 0.5s;
    border-style: solid;
    border-color: $nnabis2;
    border-width: 3px;
    &:hover {
      background-color: $nnabis2;
      color: $nnabis1;
    }
  }*/

  input[type=reset] {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    background-color: $nnabis1;
    padding: 15px;
    color: $nnabis2;
    font-weight: bolder;
    transition: all 0.5s;
    border-style: solid;
    border-color: $nnabis2;
    border-width: 3px;
    &:hover {
      background-color: $nnabis2;
      color: $nnabis1;
    }
  }

  /*Index*/
.section-producto-index{
  background-position: 4rem;
  background-color: $nnabis2;
  background-repeat: no-repeat;
  height:auto;
  width:auto;
  padding: 10px;
  }
.section-producto{
    background-position: 4rem;
    background-color: $nnabis1;
    background-repeat: no-repeat;
    height:auto;
    width:auto;
    padding: 10px;
    background-image: url(../img/elemento\ aire.png);
    background-position-x: -30%;
    }
  .section-producto-permiso{
    background-image: url(../img/elemento\ agua.png);
    background-color: $nnabis2;
    }

#titulo-producto{
    display: flex;
    justify-content:center;
    margin-top: 2rem;    
    color: $nnabis2;
    font-family: monument;
    font-size: $fontnnabisT;
    margin-bottom: 2rem;
    text-align: center;
    
  }
.flex__pr{
    @extend %disposicionfooter; 
  }

.centrado{
    @extend %displaycolumn;
    margin: auto;
  }
       
.button2 a, .button2 input{
  @extend %boton;
  }  
.button2{
    display: flex;
    justify-content: center;
    
  }

 
  .galeria{
    @extend %columnas;
    text-align: center;
    justify-content: center;
  }
  .fondo__galeria{
    height: 250px;
  }
  .contenedor__galeria{
    background-image: url(../img/portada\ galeria.jpg);
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    @extend %disposicionfooter;
    justify-content: space-around;
  }


  .columnas__quienes{
    @extend %columnas;
    justify-content: center;
    align-items: center;
       
  }
  .texto__quienes{
    @extend %displaycolumn;  
    background-color: $nnabis1; 

   
  }

  .text-q{
    @extend %columnas;
    justify-content: flex-start;
    width: auto;
    color: $nnabis3;
    font-family: axiforma;
    margin: 10px 0pxs 10px 0px;
  }
  .text-q H3{
    color: $nnabis2;
    font-family: monument;
    font-size: x-large;
  }
  .img__quienes img{
    width: 90%;
    height: 500px;
    margin-left: 30px;
    
    
  }

  .boton__quienes a{
    @extend %columnas;
    @extend %boton2;
  }
  .quienesindex{
    height: 200px;
  }





  .manifiestoindex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../img/FONDO\ MANIFIESTO.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-bottom: 10rem;

  }
  .manifiestotitulo h3{
    color: $nnabis2;
    font-family: monument;
    
  }
  .manifiestotitulo2 h2{
    display: flex;
    justify-content: center;
    color: #1A3927;
    font-family: luimp;
    font-size: 150px;
  
    }
  
  .textomanifiesto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: $nnabis1;   
    font-size: large;
    font-weight: bold;
  }
  .textomanifiesto p{
    justify-content: center;
  }
 
  .texto_man_index{
    justify-content: center;
    text-align: center;
  }

  /* CONTACTO */

  .contactoindex{
    background-image: url(../img/Grupo\ 1750.png);
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }

  .form_index{
    align-items: center;
    
  }
  .form_container div{
    width: 100%;
    display: grid;
    grid-auto-columns: 100%;
    gap:1em;
  }
  .form_input{
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    color: $nnabis3;
    border-bottom: solid 2px $nnabis3;
    background-color: transparent;
  }
input[type=text]{
  border: none;
  border-bottom: solid 2px $nnabis3;
}
input:active{
  border-bottom: solid 2px $nnabis2;
}
.form-input-message{
    resize: none;
  }
.imagencontacto img{
    justify-content: center;
    margin:2rem;
;
  }
.titulocontacto{
  display: flex;
  font-size: 25px;
  margin-bottom: 100px;
  
}

.texto-blog p{
  font-size: 1.25rem;
  margin: 1.25rem 0px;
}
.texto-blog h3{
  color: $nnabis3;
}
.texto-blog h5{
  color: $nnabis3;
  text-align: start;
  margin: 2rem 0rem;
  font-family: axiforma;
  font-size: 1.5rem;
}
.texto-blog li{
  margin: .5rem 0rem;;
}

.texto-blog{
  margin: 2.5rem 0px;
  word-spacing: 5px;
  
}
.banner-blog{
  display: flex;
  justify-content: center;
}

.body-blog{
  display: flex;
  flex-direction: column;
   align-items: center;
}
.body-blog div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-blog{
  margin: 0px .5rem;
  padding: 1rem;

}


.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.subtitulo-blog h4{
  font-size: 20px;
}
.subtitulo-blog{
    border-bottom: 1px solid $nnabis2;
    margin-top: 5rem;
}





.banner {
	width: $banner-width;
	background: $nnabis2;
	height: $banner-height;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
  
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	cursor: pointer;
	border-radius: .3em;
	
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.55);
	}
}

.shopping-image {
	height: auto;
	width: 10em;
	> img {
		height: $banner-height;
		width: 10em;
		object-fit: cover;
		border-radius: 0 2em 2em 0 / 0 3em 3em 0;
		box-shadow: 3px 5px 1px 3px darken($nnabis2, 20%);
	}
}

.text {
	height: $banner-height;
	width: 10em;
	display: flex;
	justify-content: center;
	text-align: center;
  flex-direction: column;
	> * {
			font-size: 15px;
			text-align: center;
	}
}
.text h4, .text p{
  color: $nnabis1;
}

#linkblog{
  color: $nnabis2;
  transition: all 0.5s;
  &:hover{
    color: $nnabis3 ;
  }
}

#btnproducto{
  @extend %boton3;
}

.texto-producto{
  padding: 10px;
  max-width: 100%;
  text-align: start;
  
}
.texto-producto h3{
  color: $nnabis3;
  font-family: monument;
}
.texto-producto h1{
  text-align: start;
  margin: 2rem 0rem;
}
#btnproducto1{
  text-align: center;
  padding: 20px 100px;
  color: $nnabis3;
  background-color: transparent;
  border: solid 2px $nnabis3;
  align-items: center;
  transition: all 0.5s;
  font-family: axiforma-thin;
  font-size: small;
  &:hover{
    color: $nnabis1;
    background-color: $nnabis3;
    border-color: $nnabis3;

  }
}


.zoom {
  transition: transform .5s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}



.wsk-cp-product{
  background:$nnabis1;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
}
.wsk-cp-img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top:100%;
}
.wsk-cp-text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > *{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);
    
}
.wsk-cp-text .category > a{
  padding: 12px 30px;
  border: 1px solid #313131;
  background:$nnabis4;
  color:#fff;
  
  border-radius:27px;
  transition: all 0.05s ease-in-out;
  
}
.wsk-cp-product:hover .wsk-cp-text .category > a{
  border-color:#ddd;
  background-color: $nnabis3;
  color: $nnabis1;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category{
  margin-top: 0px;
}
.wsk-cp-text .title-product{
  text-align:center;
}
.wsk-cp-text .title-product h3{
  font-size:20px;
  font-weight:bold;
  margin:15px auto;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align:start;
  width: 100%;
  height: 170px;
  overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left;
  
}

.card-footer .wcf-right{
  float:right;
}

.price{
  color: $nnabis3;
  font-size:18px;
  font-family: axiforma-thin;
  font-weight:bold;
}

a.buy-btn{
  display:block;
  color: $nnabis3;
  font-family: axiforma-thin;
  text-align:center;
  font-size: 18px;
  line-height:35px;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
  color: $nnabis2;
  text-decoration:none;
}
.wsk-btn{
  display:inline-block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #FF9800;
  background: #FF9800;
  padding:12px 30px;
  border-radius:27px;
  margin: 0 5px;
}
.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active{
  text-decoration:none;
  color:#fff;
}  
.red{
  color:#F44336;
  font-size:22px;
  display:inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 991px) {
  .wsk-cp-product{
    margin:40px auto;
  }
  .wsk-cp-product .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  .wsk-cp-product .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product .wsk-cp-text .category{
  margin-top: 0px;
}

}

.postinteres h5{
  color: $nnabis3;
  &:hover{
    color: $nnabis2;
  }
  
}

.hover08 figure img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%) opacity(0.5) drop-shadow(#8ee1af 0 0 0);
}
figure{
  margin: 0px;
}
.hover08 h2 {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08:hover h2 {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%) opacity(0.5) drop-shadow(#8ee1af 0 0 0);
}