body{
    background-color: #21412E;
    font-family: axiforma;
    h1{
        font-family: monument;
        text-align: center;
        color: white;
        font-size: 35px;
    }
}

body{
    h2{
        color: #d4ddd8;
        font-family: carentro;
        font-size: 40px;
        
    }
}
body{
    a{
        text-decoration: none;
        color:#21412E;
       
    }
}
body{
    p{
        color: white;

    }
}