footer{
    background-color: #21412E;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6rem;
    margin-bottom: 3rem;
    div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    img{
        width: 100px;
        height: 100px;
    }
    h2{
        font-size: 15px;
        list-style: none;
        font-family: monument;
        text-align: center;
    }
    ul{
        text-decoration: none;
        list-style: none;
        color: #d4ddd8;
        line-height: 20px;
    }
}