@import "../base/variables";

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 10rem;
    h2{
        margin: 2rem;
    }
    p{
        color: white;
    }
    a{
        padding: 15px;
        margin-top: 30px;
        font-weight: bolder;
        transition: all 0.5s;
        background-color: $nnabis1;
        font-family: axiforma;
        border: 2px solid $nnabis2;
        color: $nnabis2;
        &:hover{
            background-color: $nnabis2;    
            color: $nnabis1; 
        }
    }
}